/* Оболочка */

.wrapper {
   margin: auto;
   height: 500px;
   width: 1200px;
}

/* Кнопки */

.buttons {
    text-align: center;
    margin-top: 60px;
}

.random_style, .clear {
   height: 40px;
   font-size: 18pt;
}

/* Текст */

.text {
   text-align: center;
   padding-top: 180px;
   font-size: 24pt;
}

/* Случайные Стили */

.style_1 {
    background-color: red;
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 400px;
    color: white;
}

.style_2 {
    background-color: blue;
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 400px;
    color: yellow;
}

.style_3 {
    background-color: green;
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 400px;
    color: black;
}

.style_4 {
    background-color: orange;
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 400px;
    color: blue;
}

.style_5 {
    background-color: yellow;
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 400px;
    color: red;
}

.style_6 {
    background-color: purple;
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 400px;
    color: orange;
}