/* Стили фона и текста */
.wrapper {
   margin: auto;
   height: 600px;
   width: 1200px;
   
}

.text {
   text-align: center;
   padding-top: 200px;
   font-size: 36pt;
   height: 20px;
   
}

/* Кнопки */

.button_group {
   padding-left: 400px;
   margin-top: 300px;
   
}

  .random_bg, .random_text, .clear {
    height: 40px;
    border-color: black;
}

.random_bg {
   background: #00BD39;
   background: linear-gradient(to bottom, #00BD39 0%, #37DE6A 36%, #64DE89 100%);

}

.random_text {
  background: #0E53A7;
  background: linear-gradient(to bottom, #0E53A7 0%, #4284D3 36%, #6899D3 100%);

}

.clear {
   background: #FF0000;
   background: linear-gradient(to bottom, #FF0000 0%, #FF4040 36%, #FF7373 100%);
}

